process.container = 'sangerpathogens/gbs-typer-sanger-nf:0.0.2'

manifest {
    homePage = 'https://github.com/sanger-pathogens/GBS-Typer-sanger-nf'
    description = "An NextFlow version of Ben Metcalf's GBS Typer pipeline"
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
}

params {
    dbversion = "0.0.1"
    dbdir = "./db/$dbversion"
    db_serotyping = "$dbdir/GBS_seroT_Gene-DB/GBS_seroT_Gene-DB_Final.fasta"
    db_restyper = "$dbdir/GBS_resTyper_Gene-DB/GBS_Res_Gene-DB_Final.fasta"
    db_argannot = "$dbdir/ARGannot-DB/ARG-ANNOT.fasta"
    db_resfinder = "$dbdir/ResFinder-DB/ResFinder.fasta"
    help = false
    test = false
}

profiles {
    standard {
        docker {
             enabled = true
        }
    }

    sanger {
        docker {
             enabled = false
        }
        singularity {
             enabled = true
             autoMounts = true
             cacheDir = "$PWD"
        }
    }
}
