// Dependencies docker image
process.container = 'sangerpathogens/gbs-typer-sanger-nf:0.0.4'

manifest {
    homePage = 'https://github.com/sanger-pathogens/GBS-Typer-sanger-nf'
    description = "A NextFlow version of Ben Metcalf's GBS Typer pipeline"
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
}

params {
    reads = ""
    output = ""
    db_version = "0.1.1"
    db_dir = "./db/$db_version"
    tmp_dir = "./tmp"
    results_dir = "./results"
    serotyping_db = "$db_dir/GBS_seroT_Gene-DB/GBS_seroT_Gene-DB_Final.fasta"
    serotyper_min_read_depth = 30
    gbs_res_typer_db = "$db_dir/GBS_resTyper_Gene-DB/GBS_Res_Gene-DB_Final.fasta"
    gbs_res_targets_db = "$db_dir/GBS_resTyper_Gene-DB/seqs_of_interest.txt"
    gbs_res_min_coverage = 99.9
    gbs_res_max_divergence = 5
    mlst_allele_db = "$db_dir/Streptococcus_agalactiae/Streptococcus_agalactiae_MLST_alleles.fasta"
    mlst_definitions_db = "$db_dir/Streptococcus_agalactiae/Streptococcus_agalactiae_MLST_definitions.txt"
    mlst_min_coverage = 99.999
    mlst_min_read_depth = 30
    other_res_dbs = "$db_dir/ARGannot-DB/ARG-ANNOT.fasta"
    other_res_min_coverage = 70
    other_res_max_divergence = 30
    restyper_min_read_depth = 30
    gbs_surface_typer_db = "$db_dir/GBS_Surface_Gene-DB/GBS_Surface_Gene-DB_Final.fasta"
    gbs_surface_typer_min_coverage = 99.0
    gbs_surface_typer_max_divergence = 8
    surfacetyper_min_read_depth = 30
    run_surfacetyper = false
    run_mlst = false
    help = false
    test = false
}

profiles {
    standard {
        docker {
             enabled = true
        }
    }

    // Basic configuration for an LSF environment
    lsf {
        process.cpus = 1
        process.memory = "2GB"
        process.queue = "normal"
        process.errorStrategy = { sleep(task.attempt * 200); return 'retry' }
        process.maxRetries = 3
        executor {
            name = "lsf"
            // Maximum number of jobs to spawn at once - adjust as necessary
            queueSize = 20
            jobName = { "gbstyper - $task.name - $task.hash" }
            pollInterval = "5 sec"
        }
    }

    // Singularity configuration used by the Sanger Institute
    sanger {
        docker {
             enabled = false
        }
        singularity {
             enabled = true
             autoMounts = true
             cacheDir = "$PWD"
        }
    }
}
